//************//
//*** HERO ***//
//************//
.hero {
  padding: 153px 0;
  background-image: url("../../images/hero-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

//**************//
//***HERO END***//
//**************//
