//************//
//*** HERO ***//
//************//
.hero {
  padding: 153px 0;
  background-image: url("../../images/hero-bgi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner {
  background-image: url("../../images/left-arrow.svg"),
    url("../../images/circles.png");
  background-repeat: no-repeat, no-repeat;
}

//******************//
//***   TABLET   ***//
//******************//

@media only screen and (max-width: 769px) {
  
}

@media only screen and (max-width: 630px) {

}

//**************//
//***HERO END***//
//**************//
